.calculadora{
    width: 35%;
    height: 70%;
    border-style: solid;
    border-width: 5px;
    border-color: black;
    border-radius: 10px;
    position: absolute;
    top: 20%;
    left: 30%;
    margin: -25px 0 0 -25px;
    background-color: grey;
}

.botones{
    margin-top: 130px;
}

.columna{
    margin-top: 60px;
}

.tecla{
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 5px;
    background-color: white;
}
.panel{
    border: 3px solid black;
    text-align: right;
    height: 100px;
    font-size: 20px;
    color: white;
}
#texto{
    margin-top: 30px;
}